<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/cssfiles/booksstyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</head>

<body>
  <header id='menu'>

    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/images/books-logo.jpg" width="30px" height="30px" alt="">
      </a>

      
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          <%for(var i=0;i<nav.length-2 ;i++){%>
          <li class="nav-item active">
            <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <%}%>
        </ul>
        <form class="form-inline my-2 my-lg-0">
         <a href="<%=nav[5].link%>" class="btn btn-outline-success  mr-sm-2" role="button" aria-pressed="true"><%=nav[5].name%></a>
          <a href="<%=nav[6].link%>" class="btn btn-outline-success my-2 my-sm-7" role="button" aria-pressed="true"><%=nav[6].name%></a>
        </form>
      </div>
    </nav>
  </header> 
<h1>
    Discover the books you'll love 
</h1>
<section id ="section1">

<div class="container">
    <br>
    <div class="row">
    <%for(var i=0;i<books.length ;i++){%>
       
        <div class="col-md">
            <div class="card">
             <img class="card-img-top" src="/images/<%=books[i].img%>  " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><%=books[i].genre%> </p>
                    <a href="/books/<%=i%>" class="card-link" target="_blank">Read More</a>
                </div>
            </div>
        </div>
        <br>
    <%}%> 
</div>      
</div>
</section>
<br>
<br>
<div class="footer">
     <div class="row">
          <div class="col-sm-3">
             <a href="#" onclick=evenalert()>About us</a>
             </div>
          <div class="col-sm-3">
  
             <a href="#" onclick=evenalert2()>Contact us</a>
           </div>
  
           <div class="col-sm-3">
  
            <a href="#" onclick=evenalert3()>Donate</a>
          </div>
         <div class="col-sm-3">
          <a href="/faq" >FAQ</a>
         </div>
      </div>
</div>
<script src="/js/lmsjs.js"></script>

</body>
</html>
